@media (max-width: 1028px) {
    .rotate-img{
        transform: rotate(0);
        position: static;
        width: 50%;
    }
    #title{
        text-align: center;
        height: auto;
        padding-bottom: 1.5rem;
    }
}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2{
    line-height: 1.5;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
}
#title{
    height: 40rem;
    text-align: left;
}
#features{
    padding: 3% 5%;
    background-color: white;
    position: relative;
    z-index: 1;
}
#testimonials{
    background-color: #ef8172;
    color: white;
}
#press{
    background-color: #ef8172;
}
#pricing{
    padding: 60px;
}
#footer{
    background-color: white;
}
.container-fluid{
    padding: 3% 15% 0;
}
.rotate-img{
    transform: rotate(25deg);
    width: 80%;
    position: relative;
    top: 2rem;
    left: 60px;
}
.navbar{
    padding: 0 0 4.5rem 0;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}
.nav-item{
    padding: 0 8px;
}
.nav-link{
    font-size: 1.1rem;
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 700;
}
.d-b{
    margin: 10% 5% 5% 0;
}
.col-lg-4{
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
    padding: 3% 3%;
}
.rgb-code{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-solid:hover{
    color: #ff4c68;
}
.circle{
    border-radius: 50%;
    width: 10%;
    margin: 20px;
}
.press-logo{
    width: 17.5%;
    margin: 20px 25px 50px;
}
.press-logo-large{
    width: 13%;
    margin: 20px 25px 50px;
}
.card-body{
    text-align: center;
}
.button{
    width: 95%;
}
.p-c{
    padding: 3% 3%;
}
.cta-h3{
    color: white;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    font-weight:800;
}
.space{
    margin: 2% 1%;
}
.big-heading{
    font-size: 3.5rem;
    color: white;
    font-weight: 750;
}
.card-title{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
.padding-715{
    padding: 7% 15%;
}
.padding-33{
    padding: 3% 3%;
}
.coloured{
    background-color: #ff4c68;
    color: white;
}
.uncoloured{
    background-color: white;
    color: #8f8f8f;
}